
@import "compass/css3";

html,body{
  margin: 0;
  background-repeat: no-repeat;
  background-image: (radial-gradient(center center, #4d4d4d , #191919));
  background-attachment: fixed;
}


  
.controls{
  margin: 15px 0;
  text-align: center
}
  
  
.support{
  margin: 20px auto;
  width: 53%;
  text-align: center

}
  
  h4,ol{
    color: #f9f9f9

  }
    
    
  
.wrap{
  width: 100%;
  height: 100%;
  position: relative;

}
 
 
.greeting{
  font-family: 'Kaushan Script', cursive

}
  
  
.text-center{
  text-align: center

}
  
.screen{
  width: 1000px;
  height: 480px;
  border: 10px solid black;
  margin: 0 auto;
  background: #fff;
  position: relative;
  background: bisque;
  /* background-image: url('src/red_fort.png'); */

}

  
  
.flag-stand{
  width: 200px;
  margin: 0 auto;
  height: 322px;
  position: absolute;
  bottom: 0px;
  left: 45%;

}
 

.flag-pool{
  position: absolute;
  left: 14px;
  bottom: 0;
  border-left: 3px solid #1e1e1e;
  height: 310px;
  z-index: 10

}


#pigeon{

  position: absolute;
  bottom: 150px;
  right: 0;
  width: 20px;
  z-index: 20px
}

  
  
#flag{
  position: absolute;
  bottom: 0;
  left: -50;
  width: 100px;
  display: none

}
 

.steps{
  margin: 0 auto;
  height: 20px;
  position: absolute;
  background: #1e1e1e

}


.cr{

  background: #f9f9f9;
  padding: 20px;
  border-radius: 3px;
  margin: 500px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

  
ol{
  list-style-type: decimal-leading-zero ;

  text-align: left
}
 
#heart{
  padding: 2px;
  color: #e74c3c

}

.txtefx{
  color: red

}

  
.arrow-up{
  position: absolute;
  top: 0;
  left: 0.6em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 12px solid #1e1e1e;

}


.social{
  width: 300px;
  margin: 0 auto

}
 
  p{
    margin: 0;
  }
    
  ul{
    padding: 0;
    margin: 0
  }
   
    li{
      list-style: none;
      display: inline-block;
      padding: 15px
    }
      
      i{
        font-size: 1.4em
      }
        
    
    
  